{block content}
	<div id="banner">
		<h1 n:block=title>Termíny kurzů</h1>
	</div>

	<div id="content">
		<ul>
			<li n:foreach="$terms as $term">{$term->address->street}</li>
		</ul>
	</div>
{/block}
